* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn button {
    padding: 15px;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bolder;
}


#form-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}